html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-weight: semi-bold;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-sizing: border-box; }

a {
  cursor: pointer;
  text-decoration: none; }

ul {
  list-style-type: none; }

h2, h3, h4 {
  color: #293039; }

h3 {
  font-size: 1.7em; }

h4 {
  font-size: 1.4em; }

p {
  font-size: 1em;
  color: #7d878f; }

section {
  padding: 100px 0; }

footer {
  padding-top: 100px; }

input {
  float: left;
  padding: 10px;
  width: 71%;
  border: none;
  border-radius: 999px;
  outline: none; }

hr {
  border-color: rgba(224, 224, 224, 0.27);
  margin: 0; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.col-1, .col-2, .col-3, .col-4 {
  width: 50%;
  display: inline-block;
  float: left; }

.col-1 {
  padding-right: 70px; }

.titles {
  text-align: center; }
  .titles h3 {
    color: #293039; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.align-right {
  text-align: right; }

.default-btn {
  padding: 15px;
  background: transparent;
  border-radius: 999em;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  width: 160px;
  text-align: center; }
  .default-btn:hover {
    background: #ffffff;
    border: 2px solid #ffffff;
    color: #904fc9; }

.dark:hover {
  background-color: #904fc9;
  color: #ffffff;
  border: 2px solid #904fc9; }

.dark {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  border: 2px solid #904fc9;
  color: #904fc9; }

.subscribe-bar {
  position: relative;
  padding: 0;
  border: 1px solid #e0e0e0;
  border-radius: 999px;
  margin: 0 auto;
  width: 450px; }
  .subscribe-bar .subscribe-btn {
    padding: 9px;
    position: absolute;
    right: -1px;
    top: -1px;
    background: #904fc9;
    color: #ffffff;
    border: 2px solid #904fc9; }
    .subscribe-bar .subscribe-btn:hover {
      background: #904fc9;
      border-color: #904fc9; }

/*------------- Nav ------------------ */
.menu {
  cursor: pointer;
  display: none;
  position: absolute;
  z-index: 200;
  right: 0; }
  .menu .bar-icon, .menu .bar-icon-close {
    color: #ffffff; }

.banner {
  position: relative;
  margin: 0 0 10% 0;
  padding: 0;
  background-image: url("../images/bg_pattern.jpg"); }
  .banner .overlay {
    background: linear-gradient(145deg, rgba(202, 107, 232, 0.9803921569), rgba(48, 35, 174, 0.9490196078)); }
  .banner .wrapper {
    position: relative;
    max-width: 90%;
    width: 1140px;
    color: #ffffff;
    margin: 0 auto; }
    .banner .wrapper h1 {
      padding-top: 100px;
      font-size: 3.5em;
      margin: 50px 0 0 0; }
    .banner .wrapper img {
      position: absolute;
      top: -25px;
      right: 0;
      max-width: 280px; }
    .banner .wrapper .default-btn {
      margin: 50px 0; }
  .banner .logo {
    z-index: 200;
    position: absolute; }
    .banner .logo a {
      padding: 10px;
      color: #ffffff;
      display: inline-block; }
    .banner .logo:hover {
      color: #904fc9; }

nav {
  background: transparent;
  max-width: 100%;
  margin: 0; }
  nav ul {
    text-align: right;
    margin: 0;
    padding-right: 3em;
    list-style-type: none; }
    nav ul li {
      line-height: 2em;
      padding: 0.5em;
      display: inline-block; }
      nav ul li a:hover {
        color: #904fc9; }
      nav ul li a {
        font-size: 1.2em;
        color: #ffffff; }

/*------------- info ------------------ */
.app-advantages .col {
  float: left;
  background-color: light-grey;
  width: 25%;
  padding: 2px; }
  .app-advantages .col .col-inner {
    margin: 0 auto;
    text-align: center;
    margin-top: 12px; }
    .app-advantages .col .col-inner h3 {
      color: #293039;
      font-size: 1.2em; }
    .app-advantages .col .col-inner p {
      color: #7d878f;
      font-size: 0.8em; }
    .app-advantages .col .col-inner .key-feature {
      width: 80px;
      height: 80px;
      display: block;
      margin: 0 auto;
      border-radius: 50%; }
    .app-advantages .col .col-inner .icon1, .app-advantages .col .col-inner .icon2, .app-advantages .col .col-inner .icon3, .app-advantages .col .col-inner .icon4 {
      position: relative; }
    .app-advantages .col .col-inner .icon1 {
      background-color: #5cc3f2; }
    .app-advantages .col .col-inner .icon2 {
      background-color: #2bd55d; }
    .app-advantages .col .col-inner .icon3 {
      background-color: #ce81f0; }
    .app-advantages .col .col-inner .icon4 {
      background-color: #ff6a30; }
    .app-advantages .col .col-inner .icon-inner {
      color: white;
      position: absolute; }
    .app-advantages .col .col-inner .icon-shipping {
      top: 24px;
      left: 20px; }
    .app-advantages .col .col-inner .icon-cog {
      top: 16px;
      left: 16px; }
    .app-advantages .col .col-inner .icon-hourglass {
      top: 16px;
      left: 23px; }
    .app-advantages .col .col-inner .icon-cloud {
      top: 14px;
      left: 11px; }

/*------------- features ------------------ */
.feature .col-1 {
  width: 50%;
  margin: 0 auto; }
  .feature .col-1 .left {
    left: -160px; }
  .feature .col-1 .right {
    right: -160px; }
  .feature .col-1 .right-img {
    margin-left: 70px;
    margin-right: 0; }
.feature img {
  max-width: 400px;
  max-height: 690px;
  box-shadow: -4px 20px 20px 3px lightgrey;
  display: block;
  margin: 0 auto; }
.feature .col-2 {
  display: table-cell;
  width: 50%; }
  .feature .col-2 .col-wrapper {
    padding: 0;
    margin: 0 auto;
    width: 90%; }
.feature .feature-icon {
  color: #904fc9; }

/*------------- How it Works ------------------ */
.works {
  background: linear-gradient(145deg, rgba(202, 107, 232, 0.9803921569), rgba(48, 35, 174, 0.9490196078)); }
  .works .how-it-works {
    padding: 2%; }
    .works .how-it-works h3, .works .how-it-works p {
      color: #ffffff; }
    .works .how-it-works video {
      width: 100%;
      max-width: 80%;
      display: block;
      margin: auto; }
    .works .how-it-works .get-app {
      margin: 20px;
      position: relative; }
      .works .how-it-works .get-app h3 {
        margin: 0; }
    .works .how-it-works .get-app-card {
      padding-left: 8%;
      max-width: 50%;
      width: 100%; }
  .works .apple-store {
    width: 175px; }
  .works .google-play {
    width: 191px; }

/*------------- Price-Plans ------------------ */
.pricing-plans {
  position: relative; }
  .pricing-plans .info-card {
    width: 40%; }
  .pricing-plans ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%; }
    .pricing-plans ul li {
      padding: 2em;
      background: #ffffff;
      text-align: center;
      display: inline-block;
      width: 40%;
      float: left;
      margin: 1.5em;
      box-shadow: -1px 5px 16px 0px lightgrey;
      height: 100%;
      max-height: 530px; }
      .pricing-plans ul li p {
        font-size: 0.9em; }
      .pricing-plans ul li span {
        color: #7d878f; }
      .pricing-plans ul li h3 span {
        font-weight: normal;
        padding-left: 5px;
        font-size: 0.6em; }
      .pricing-plans ul li a {
        margin: 1.5em; }

/*------------- Compatibility ------------------ */
.track-progress {
  padding-top: 300px;
  background: #f6f9fd; }
  .track-progress .col-1, .track-progress .col-2 {
    width: 50%;
    display: inline-block; }
  .track-progress .col-1 {
    float: left; }
    .track-progress .col-1 img {
      width: 100%;
      padding-right: 70px; }
  .track-progress .col-2 {
    float: left; }

/*------------- Download app ------------------ */
.download-app {
  background: linear-gradient(145deg, rgba(202, 107, 232, 0.9803921569), rgba(48, 35, 174, 0.9490196078)); }
  .download-app h3 {
    color: #ffffff;
    margin: 0; }

/*------------- Blog ------------------ */
.blog {
  background: #f6f9fd; }
  .blog .post-col {
    box-shadow: -1px 5px 16px 0px lightgrey;
    width: 30%;
    margin: 1.5%;
    background: #ffffff;
    padding: 0;
    float: left; }
    .blog .post-col .thin-wrapper {
      padding: 0 8%; }
  .blog .post-img {
    width: 100%; }
  .blog .by, .blog .date {
    color: #e0e0e0; }
  .blog .post-content p {
    font-size: 0.9em; }

/*------------- footer ------------------ */
footer .col-1, footer .col-2, footer .col-3 {
  width: 31.5%; }
footer .col-2 {
  text-align: center; }
  footer .col-2 ul {
    padding: 0; }
    footer .col-2 ul li {
      margin: 5px 0; }
    footer .col-2 ul a {
      color: #7d878f; }
      footer .col-2 ul a:hover {
        border-bottom: 2px solid #904fc9; }
footer .col-3 .subscribe-bar {
  width: 100%; }
footer .col-3 .social-icons {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  border-radius: 50%; }
  footer .col-3 .social-icons:hover {
    background: #d8dbdc;
    color: #ffffff; }
footer .col-3 .facebook-icon, footer .col-3 .twitter-icon, footer .col-3 .instagram-icon {
  position: absolute;
  top: 10px; }
footer .col-3 .facebook-icon {
  left: 12px;
  color: #4a72a9; }
footer .col-3 .twitter-icon {
  left: 9px;
  color: #00b9f1; }
footer .col-3 .instagram-icon {
  left: 10px;
  color: #961318; }
footer .copyright {
  padding: 4px 0;
  color: #e0e0e0;
  text-align: center; }
  footer .copyright a {
    color: #7d878f; }
    footer .copyright a:hover {
      color: #5cc3f2; }

/*------------------- Media Queries -------------------- */
@media only screen and (max-width: 1250px) {
  .col-1, .col-2, .col-3, .col-4 {
    padding: 10px; }

  section .wrapper {
    margin-left: 0;
    margin-right: 0; }

  .apple-store {
    width: 175px; }

  .google-play {
    width: 191px; }

  /*------------- Advantages ------------------ */
  .app-advantages .col-inner h3 {
    font-size: 1em; }
  .app-advantages .col-inner p {
    font-size: 0.8em; }

  /*------------- Pricing ------------------ */
  .pricing-plans {
    padding: 50px 0; }
    .pricing-plans .info-card {
      text-align: center;
      margin: 0 auto; }
    .pricing-plans ul {
      position: static;
      width: 100%;
      padding: 0; }
      .pricing-plans ul li {
        width: 46%;
        margin: 2%;
        padding: 2%; }

  /*------------- Download ------------------ */ }
@media only screen and (max-width: 900px) {
  /*------------- general ------------------ */
  section {
    padding: 80px 0; }

  p {
    font-size: 0.8em; }

  h4 {
    font-size: 1.1em; }

  .container {
    max-width: 790px; }

  .default-btn {
    padding: 10px;
    font-size: 14px; }

  /*------------- Nav ------------------ */
  .banner .overlay .wrapper {
    padding-left: 30px; }
    .banner .overlay .wrapper h1 {
      padding-top: 75px;
      font-size: 2em; }
  .banner .overlay .default-btn {
    margin: 25px 0; }
  .banner .overlay img {
    top: -3%;
    right: 135px;
    width: 25%; }

  nav ul {
    padding-right: 10px; }
    nav ul li {
      padding: 0.5em; }
      nav ul li a {
        font-size: 18px; }

  /*------------- Advantages ------------------ */
  .app-advantages .col {
    width: 50%; }
    .app-advantages .col .col-inner {
      padding: 5%; }
      .app-advantages .col .col-inner h3 {
        font-size: 1em; }
      .app-advantages .col .col-inner p {
        font-size: 0.8em; }

  /*------------- Features ------------------ */
  .feature .col-1 img, .feature .col-2 img {
    width: 50%; }
  .feature .col-1 {
    padding: 0; }
    .feature .col-1 .col-wrapper {
      padding-left: 10px; }
  .feature .col-2 .col-wrapper {
    padding-right: 10px; }

  /*------------- Works ------------------ */
  .works .apple-store, .download-app .apple-store {
    width: 130px; }
  .works .google-play, .download-app .google-play {
    width: 144px; }

  /*------------- Manage ------------------ */
  .track-progress {
    padding: 100px 0; }
    .track-progress .col-1 img {
      padding: 0; }

  /*------------- Download ------------------ */
  .download-app {
    text-align: center; }
    .download-app .col-1, .download-app .col-2 {
      width: 100%; }

  /*------------- Blog ------------------ */
  .blog span {
    font-size: 0.8em; }

  /*------------- Footer ------------------ */
  footer {
    padding-top: 50px; }
    footer .col-1, footer .col-2, footer .col-3 {
      text-align: center; }
    footer .col-1, footer .col-2 {
      width: 50%; }
    footer .col-1 {
      padding-left: 50px;
      text-align: left; }
    footer .col-3 {
      width: 100%; }
      footer .col-3 .subscribe-bar {
        width: 60%; } }
@media only screen and (max-width: 750px) {
  h3 {
    font-size: 1.5em; }

  p {
    font-size: 0.7em; }

  section {
    padding: 25px 0; }

  input {
    padding: 8px;
    font-size: 0.7em; }

  .container {
    max-width: 720px; }

  .default-btn {
    width: 120px;
    font-size: 8px; }

  .col-1, .col-2, .col-3, .col-4 {
    width: 100%;
    display: block; }

  .visible {
    left: 0; }

  /*------------- Nav ------------------ */
  .banner img {
    display: none; }
  .banner .menu {
    display: block;
    float: right;
    padding: 10px; }
    .banner .menu .bar-icon {
      position: relative; }
    .banner .menu .bar-icon-close {
      display: none;
      position: absolute;
      right: 11px;
      top: 9px; }

  nav {
    position: absolute;
    background: linear-gradient(145deg, rgba(202, 107, 232, 0.9803921569), rgba(48, 35, 174, 0.9490196078));
    width: 100%;
    height: 100%;
    z-index: 100;
    left: -733px;
    display: block;
    -webkit-transition: left 0.5s linear;
    -moz-transition: left 0.5s linear;
    transition: left 0.5s linear; }
    nav ul {
      margin: 25px 0;
      text-align: center;
      display: grid;
      padding: 0; }
      nav ul li {
        line-height: 1.5em; }
        nav ul li a {
          font-size: 20px; }

  /*------------- features ------------------ */
  .feature .col-1, .feature .col-2 {
    display: block;
    width: 50%; }
  .feature .col-2 {
    margin: 0 auto; }
    .feature .col-2 .col-wrapper {
      padding: 0; }

  /*------------- Subscribe ------------------ */
  .subscribe-bar {
    width: 60%; }

  /*------------- Works ------------------ */
  .works .video-wrapper video {
    max-width: 100%;
    margin: 0 auto; }
  .works .get-app {
    margin: 0; }
    .works .get-app .col-1 {
      max-width: 100%;
      padding: 0; }
    .works .get-app .col-2 {
      text-align: center; }

  .apple-store {
    width: 100px; }

  .google-play {
    width: 110px; }

  /*------------- Pricing ------------------ */
  .pricing-plans .info-card {
    width: 100%; }
  .pricing-plans ul li h3 {
    font-size: 1em; }
  .pricing-plans ul li span {
    font-size: 0.7em; }
  .pricing-plans ul li p {
    font-size: 0.6em; }
  .pricing-plans ul li a {
    margin: 2px; }

  /*------------- Manage ------------------ */
  .track-progress .col-1, .track-progress .col-2 {
    width: 100%; }

  /*------------- Blog ------------------ */
  .blog .post-col {
    width: 47%; }
  .blog .post-title {
    font-size: 0.7em;
    margin: 2px 0; }
  .blog .by, .blog .date, .blog .post-content {
    font-size: 0.5em; }

  /*------------- Footer ------------------ */
  footer .col-1, footer .col-2 {
    width: 100%; }
  footer .copyright {
    font-size: 0.6em; } }
@media only screen and (max-width: 400px) {
  h3 {
    font-size: 0.8em; }

  p {
    font-size: 0.5em; }

  .titles {
    padding: 10px; }

  .subscribe-bar {
    width: 100%; }

  .col-1, .col-2, .col-3, .col-4 {
    width: 100%; }

  /*------------- Nav ------------------ */
  .banner {
    margin: 0; }
    .banner .overlay .wrapper h1 {
      font-size: 1.5em; }

  nav ul {
    padding-right: 10px; }
    nav ul li {
      padding: 0.3em; }
      nav ul li a {
        font-size: 14px; }

  section .wrapper .card {
    padding: 2%; }
    section .wrapper .card .card-inner h4 {
      font-size: 0.8em; }
    section .wrapper .card .card-inner h5 {
      font-size: 0.5em; }

  /*------------- Advantages ------------------ */
  .app-advantages .col .col-inner p {
    font-size: 0.6em; }
  .app-advantages .col .col-inner .key-feature {
    width: 40px;
    height: 40px; }
  .app-advantages .col .col-inner .icon-inner {
    font-size: 25px; }
  .app-advantages .col .col-inner .icon-shipping {
    top: 8px;
    left: 5px; }
  .app-advantages .col .col-inner .icon-cog {
    top: 8px;
    left: 8px; }
  .app-advantages .col .col-inner .icon-hourglass {
    top: 8px;
    left: 11px; }
  .app-advantages .col .col-inner .icon-cloud {
    top: 7px;
    left: 5px; }

  /*------------- feature ------------------ */
  .feature .col-1, .feature .col-2 {
    width: 100%; }
    .feature .col-1 img, .feature .col-2 img {
      width: 25%; }
  .feature .feature-icon {
    font-size: 2em; }

  /*------------- video ------------------ */
  .works .apple-store, .download-app .apple-store {
    width: 90px; }
  .works .google-play, .download-app .google-play {
    width: 100px; }

  .works .how-it-works {
    padding: 10px; }
    .works .how-it-works .get-app {
      margin: 0; }
      .works .how-it-works .get-app h3 {
        margin: 5px 0; }

  /*------------- Pricing ------------------ */
  .pricing-plans .info-card {
    padding: 10px; }
  .pricing-plans ul li {
    width: 100%;
    margin: 10px 0; }

  /*------------- footer ------------------ */
  footer .col-1 {
    text-align: center;
    padding: 10px; }
  footer .col-2 ul li {
    margin: 0; }
    footer .col-2 ul li a {
      font-size: 0.5em; }
  footer .col-3 .subscribe-bar {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
